.button-toggle {
    display: flex;
    gap: 1.5rem;

    .primary:not(.selected) {
        background-color: hsl(from $color-yellow h s l / 0.25);
    }

    .secondary.selected {
        outline: 0.2rem solid $color-yellow;
        color: $color-yellow;
    }
}