@use "sass:color";
@use "../../scss/colors" as *;

.input {
    outline: none;
    border: none;
    background-color: var(--input-background);
    color: var(--theme-text-color);
    font-size: 1.25rem;
    padding: 1em 1.25em;
    border-radius: 0.25em;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::placeholder {
        color: $color-gray;
    }

    &:focus {
        border: none;
        background-color: color.adjust($color-gray, $alpha: -0.75);
    }
}