.settings-menu {
    .menu-body {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            font-size: 1.5rem;
        }
    }
}