.button {
    --background-color: black;
    --text-color: white;
    
    @include button-hover(var(--background-color));

    position: relative;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    letter-spacing: 0.025em;
    transition: background-color 200ms;
    overflow: hidden;

    .ripple {
        position: absolute;
        background-color: hsl(from var(--background-color) h s l / 0.5);
        width: 1em;
        user-select: none;
        border-radius: 1000rem;
        aspect-ratio: 1;
        animation: ripple 750ms forwards;
    }

    &.primary {
        --background-color: #{$color-yellow};
        --text-color: #{$color-blue-100};

        text-transform: uppercase;
    }

    &.secondary {
        --background-color: #{$color-blue-400};
        --text-color: #{$color-white-100};
    }

    &.success {
        --background-color: #{$color-green};
        --text-color: #{$color-white-100};
    }

    &.danger {
        --background-color: #{$color-red};
        --text-color: #{$color-white-100};
    }

    &.floating {
        @include button-hover(hsl(from $color-white-100 h s l / 0.5));

        --background-color: transparent;
        --text-color: var(--theme-text-color);

        .ripple {
            background-color: hsl(from var(--theme-text-color) h s l / 0.5);
        }
    }

    &.icon-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25em;
        font-size: 2.5rem;
        aspect-ratio: 1;

        & > * {
            font-size: 1em !important;
        }
    }
}

@keyframes ripple {
    from {
        scale: 0;
        opacity: 0;
    }

    50% {
        opacity: 100%;
    }

    to {
        scale: 10;
        opacity: 0;
    }
}