.manage-timers-menu {
    .menu-body {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: end;

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        input {
            width: 100%;
        }

        .utc-input {
            text-align: center;
            padding: 0;
            aspect-ratio: 1;
            width: 4rem;
        }

        .timer-buttons {
            display: flex;
            align-self: flex-end;
            gap: 1rem;
        }
    }

    .add-timer-button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

        .add-icon {
            font-size: 1em;
        }
    }

    @media (width < 550px) {
        .menu-item {
            flex-direction: column;
            justify-content: center;
            align-items: unset;
            gap: 1rem;

            .utc-input {
                width: 100%;
                aspect-ratio: unset;
                padding: 1em 1.25em;
            }

            .timer-buttons {
                justify-content: center;
                align-self: unset;
            }
        }
    }
}