$color-yellow: hsl(60 100% 50%);
$color-red: hsl(0 100% 50%);
$color-green: hsl(120 100% 30%);
$color-gray: hsl(0 0% 25%);

$color-blue-100: hsl(231 100% 5%);
$color-blue-200: hsl(230 100% 10%);
$color-blue-300: hsl(230 100% 15%);
$color-blue-400: hsl(230 100% 40%);

$color-white-100: hsl(230 100% 90%);
$color-white-200: hsl(230 100% 80%);
$color-white-300: hsl(230 100% 75%);