@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype"),
         url("../assets/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}