html[data-serious="true"] {
    rotate: 0.25deg;
    filter: hue-rotate(180deg);

    ::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }

    *, *::before, *::after {
        font-family: "Comic Sans MS", cursive !important;
        border-radius: 0 !important;
    }
}