@use "@scss/_colors.scss" as *;

html[data-theme="dark"] {
    --theme-color-1: #{$color-blue-200};
    --theme-color-2: #{$color-blue-300};
    --theme-color-3: #{$color-blue-400};

    --theme-text-color: #{$color-white-100};
    
    --timer-label-text-color: hsl(from #{$color-white-100} h s 75%);
    --results-background: hsl(from #{$color-blue-300} h s 12%);
    --input-background: #{$color-blue-100};
}

html[data-theme="light"] {
    --theme-color-1: #{$color-white-100};
    --theme-color-2: #{$color-white-200};
    --theme-color-3: #{$color-white-300};

    --theme-text-color: #{$color-blue-100};

    --timer-label-text-color: hsl(from #{$color-blue-100} h s 50%);
    --results-background: hsl(from #{$color-white-200} h s 85%);
    --input-background: #{$color-white-300};
}